doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        title= "Como se dice ahora" 
        script
        link(href="https://fonts.googleapis.com/css?family=Oswald", rel='stylesheet')
        link(href='static/css/styles.css', rel='stylesheet')
            
    body
        a(href="/random") Aleatorio